/* Footer - Copyright */
#copyright {
    position:absolute;
    z-index:9999;
    right:65px;
    bottom:210px;
    color:#2d2d2d;
    opacity:0.5;
    font-size:10px;
    letter-spacing:2px;
    writing-mode:vertical-rl;
}

/* Footer - SNS */ 
#sns {
    position:absolute;
    z-index:9999;
    right:50px;
    bottom:25px;
}
#sns li {
    padding:15px 0;
    list-style-type:none;
}
#sns li .fab {
    color:#2d2d2d;
    font-size:22px;
    opacity:0.8;
}
#sns li:first-child .fab:hover {
    color:#3b5998;
    transition:all 1s ease;
    transform:scale(1.15);
}
#sns li:nth-child(2) .fab:hover {
    color:#86c9ef;
    transition:all 1s ease;
    transform:scale(1.15);
}
#sns li:last-child .fab:hover {
    color:#cd486b;
    transition:all 1s ease;
    transform:scale(1.15);
}
#sns li .fab:visited {
    color:#fff;
}