@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Start */

* {
    margin:0;
    padding:0;
}
body {
    width:100%;
    height:100%;
    background-color:white;
    font-family:'Fjalla One', sans-serif;
    font-family:'Nanum Gothic', sans-serif;
}
.button-wrapper {
    display:inline-block;
    position:absolute;
    z-index:500;
    top:74%;
    left:2%;
    padding:20px;
    padding-bottom:100px;
    opacity:0.7;
}
.button {
    background:#fff;
    border:none;
    padding:2px;
    cursor:pointer;
    display:block;
    position:relative;
    overflow:hidden;
    transition:all .35s ease-in-out .35s;
    margin:0 auto;
    width:150px;
    text-align:center;
}
.button a {
    display:block;
    padding:15px 30px;
    font-family:'Fjalla One', sans-serif;
    letter-spacing:8px;
    color:#2d2d2d;
    background:#fff;
    z-index:100;
    position:relative;
    font-size:15px;
    text-decoration:none;
    letter-spacing:5px;
    transition:all .35s ease-in-out .35s;
}
.button:hover a {
    background:#ffae63;
    color:#fff;
    transition:all .35s ease-in-out .35s;
}
.button:after {
    bottom:-100%;
    right:-100%;
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    background:#ffae63;
    transition:all .35s ease-in-out .5s;
}
.button:hover:after {
    right:0;
    bottom:0;
    transition:all ease-in-out .35s;
}
.button:before {
    top:-100%;
    left:-100%;
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    background:#ffae63;
    transition:all .35s ease-in-out .5s;
}
.button:hover:before {
    left:0;
    top:0;
    transition:all ease-in-out .35s;
}
.split {
    height:100%;
    width:50%;
    position:fixed;
    z-index:1;
    top:0;
    overflow-x:hidden;
}
.left {
    width:70%;
    height:100%;
    position:absolute;
    z-index:-9999;
    left:0;
    background:url("../img/LongDream_2.jpg") no-repeat fixed;
    -ms-overflow-style:none;
}
.right {
    right:0;
    -ms-overflow-style:none;
}
::-webkit-scrollbar { 
    display:none; 
}
.centered1 {
    position:absolute;
    top:22%;
    left:24%;
    transform:translateX(-50%);
    text-align:center;
}
.centered2 {
    position:absolute;
    top:10%;
    left:0%;
    text-align:center;
}
a {
    text-decoration:none;
}
ul {
    list-style-type:none;
}
.tab-menu {
    width:50px;
    position:relative;
    top:-55px;
    left:462px;
    z-index:-9999;
}
.tab-menu2 {
    position:absolute;
    top:0;
}
.tab-menu ul {
    position:relative;
    top:175px;
    left:83px;
}
.tab-menu li {
    width:42px;
    height:40px;
}
.tab-menu li a {
    position:relative;
    display:block;
    width:100%;
    height:100%;
    background-color:#ffc896;
    font-family:'Fjalla One', sans-serif;
    text-align:center;
    color:#fff;
    line-height:30px;
    writing-mode:vertical-rl;
    padding-right:8px;
}
.tab-menu li a:hover {
    background-color:#ffae63;
    text-decoration:line-through;
    transition:all 1s ease;
}
.tab-menu li a.selected {
    background-color:#ffae63;
    text-decoration:line-through;
    cursor:default;
}
.tab-container {
    width:550px;
    height:400px;
    position:relative;
    border:7px solid #ffae63;
    background-color:white;
    box-sizing:border-box;
}
.tab-container .tab-content {
    font-family:'Nanum Gothic', sans-serif;
    font-size:13px;
    color:#3f3f3f;
}
.tab-container .tab-content img {
    margin-top:10px;
    margin-left:-210px;
}
.tab-container .tab-content ul {
    margin-top:28px;
    margin-right:10px;
}
.tab-container .tab-content ul li {
    text-align:right;
    line-height:25px;
}
.tab-container .tab-content span:first-child {
    display:inline-block;
    color:#ffae63;
    font-weight:bold;
    padding-right:5px;
}
.tab-container .tab-content span:nth-child(2) {
    display:inline-block;
    color:#999;
    font-weight:bold;
    padding-left:5px;
}
.tab-container .tab-content:nth-child(2) ul {
    margin-top:17px;
    margin-left:5px;
}
.tab-container .tab-content:nth-child(2) ul:last-child {
    position:absolute;
    top:29px;
    left:280px;
}
.tab-container .tab-content:nth-child(2) ul li {
    font-family:'Fjalla One', sans-serif;
    font-size:12px;
    text-align:left;
    line-height:30px;
    padding-right:10px;
}
.tab-container .tab-content:nth-child(2) ul li a {
    color:#3f3f3f;
}
.tab-container .tab-content:nth-child(2) ul li a:hover {
    color:#ffae63;
    transition:all 0.5s ease;
}
.tab-container .tab-content:last-child p {
    position:absolute;
    top:65px;
    left:40px;
    color:#ffae63;
    font-family:'Fjalla One', sans-serif;
    font-size:35px;
    line-height:50px;
    letter-spacing:5px;
}
.tab-container .tab-content:last-child img.short1 {
    position:absolute;
    top:58px;
    right:40px;
}
.tab-container .tab-content:last-child img.short2 {
    position:absolute;
    top:200px;
    left:245px;
}
.tab-container .tab-content:last-child img.short3 {
    position:absolute;
    top:200px;
    left:486px;
}
.tab-container .tab-content img {
    cursor:pointer;
}
.tab-container .tab-content img:hover {
    filter:grayscale(100%);
    transition:all 0.8s ease;
}
.tab-container2 .tab-content2 {
    width:400px;
}
.tab-container2 .tab-content2 p {
    color:white;
    font-family:'Fjalla One', sans-serif;
    font-size:80px;
    font-weight:bold;
    letter-spacing:15px;
    opacity:0.8;
}
.tab-container2 .tab-content2 p.explain {
    width:340px;
    font-size:12px;
    font-weight:normal;
    text-align:justify;
    line-height:20px;
    letter-spacing:5px;
    margin-top:90px;
    padding-bottom:70px;
}
.tab-container .tab-content, .tab-container2 .tab-content2 {
    display:none;
    padding:30px;
    height:500px;
    box-sizing:border-box;
}
.tab-container .tab-content.selected, .tab-container2 .tab-content2.selected {
    display:block;
}