@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

/* Start */
* {
    margin:0;
    padding:0;
}
body {
    width:100%;
    height:100%;
    background-color:white;
    font-family:'Fjalla One', sans-serif;
}

/* Contents Area */
.split {
    height:100%;
    width:50%;
    position:fixed;
    z-index:1;
    top:0;
    overflow-x:hidden;
}
.left {
    width:70%;
    height:100%;
    position:absolute;
    z-index:-9999;
    left:0;
    background:url("../img/cheeze2_.jpg") no-repeat center center fixed;
    background-size:cover;
    -ms-overflow-style:none;
}
.right {
    right:0;
    -ms-overflow-style:none;
}
::-webkit-scrollbar { 
    display:none; 
}

/* Profile - Right */
.centered2 {
    position:absolute;
    top:10%;
    left:0%;
    text-align:center;
}
a {
    text-decoration:none;
}
ul {
    list-style-type:none;
}
.tab-menu {
    width:50px;
    position:relative;
    top:-55px;
    left:462px;
    z-index:-9999;
}
.tab-menu2 {
    position:absolute;
    top:0;
}
.tab-menu ul {
    position:relative;
    top:175px;
    left:83px;
}
.tab-menu li {
    width:42px;
    height:40px;
}
.tab-menu li a {
    position:relative;
    display:block;
    width:100%;
    height:100%;
    background-color:#e0ecd4;
    font-family:'Fjalla One', sans-serif;
    text-align:center;
    color:#fff;
    line-height:30px;
    writing-mode:vertical-rl;
    padding-right:8px;
}
.tab-menu li a:hover {
    background-color:#d6e2ca;
    text-decoration:line-through;
    transition:all 1s ease;
}
.tab-menu li a.selected {
    background-color:#d6e2ca;
    text-decoration:line-through;
    cursor:default;
}
.tab-container {
    width:550px;
    height:400px;
    position:relative;
    border:7px solid #d6e2ca;
    background-color:white;
    box-sizing:border-box;
}
.tab-container .tab-content {
    font-family:'Nanum Gothic', sans-serif;
    font-size:13px;
    color:#3f3f3f;
}
.tab-container .tab-content img {
    margin-top:10px;
    margin-left:-210px;
}
.tab-container .tab-content ul {
    margin-top:28px;
    margin-right:10px;
}
.tab-container .tab-content ul li {
    text-align:right;
    line-height:25px;
}
.tab-container .tab-content span:first-child {
    display:inline-block;
    color:#ccd6c2;
    font-weight:bold;
    padding-right:5px;
}
.tab-container .tab-content span:nth-child(2) {
    display:inline-block;
    color:#999;
    font-weight:bold;
    padding-left:5px;
}
.tab-container .tab-content:nth-child(2) ul {
    margin-top:17px;
    margin-left:5px;
}
.tab-container .tab-content:nth-child(2) ul:last-child {
    position:absolute;
    top:29px;
    left:280px;
}
.tab-container .tab-content:nth-child(2) ul li {
    font-family:'Fjalla One', sans-serif;
    font-size:12px;
    text-align:left;
    line-height:30px;
    padding-right:10px;
}
.tab-container .tab-content:nth-child(2) ul li a {
    color:#646464;
}
.tab-container .tab-content:nth-child(2) ul li a:hover {
    color:#d6e2ca;
    transition:all 0.5s ease;
}
.tab-container .tab-content:last-child p {
    position:absolute;
    top:65px;
    left:40px;
    color:#ccd6c2;
    font-family:'Fjalla One', sans-serif;
    font-size:35px;
    line-height:50px;
    letter-spacing:5px;
}
.tab-container .tab-content:last-child img.short1 {
    position:absolute;
    top:58px;
    right:40px;
}
.tab-container .tab-content:last-child img.short2 {
    position:absolute;
    top:200px;
    left:245px;
}
.tab-container .tab-content:last-child img.short3 {
    position:absolute;
    top:200px;
    left:486px;
}
.tab-container .tab-content img {
    cursor:pointer;
}
.tab-container .tab-content img:hover {
    filter:grayscale(100%);
    transition:all 0.8s ease;
}

/* Profile - Left */
.centered1 {
    position:absolute;
    top:22%;
    left:24%;
    transform:translateX(-50%);
    text-align:center;
}
.tab-container2 .tab-content2 {
    width:400px;
}
.tab-container2 .tab-content2 p {
    color:white;
    font-family:'Fjalla One', sans-serif;
    font-size:80px;
    font-weight:bold;
    letter-spacing:15px;
    opacity:0.8;
}
.tab-container2 .tab-content2 p.subject {
    font-size:14px;
    font-weight:normal;
    text-align:justify;
    line-height:20px;
    letter-spacing:5px;
    margin-top:80px;
}
.tab-container2 .tab-content2 p.explain {
    width:340px;
    font-size:12px;
    font-weight:normal;
    text-align:justify;
    line-height:20px;
    letter-spacing:5px;
    margin-top:80px;
    padding-bottom:70px;
}
.tab-container .tab-content, .tab-container2 .tab-content2 {
    display:none;
    padding:30px;
    height:500px;
    box-sizing:border-box;
}
.tab-container .tab-content.selected, .tab-container2 .tab-content2.selected {
    display:block;
}

/* Close Button */
.close {
    display:block;
    position:absolute;
    z-index:200;
    top:0;
    right:0;
    width:50px;
    height:50px;
    cursor:pointer;
    background-color:#646464;
}
.close:hover {
    background-color:#d6e2ca;
    transition:all 0.5s ease;
}
.close span {
    overflow:hidden;
    display:block;
    position:relative;
    width:25px;
    height:25px;
    margin:12.5px;
}
.close span:before,
.close span:after {
    content:'';
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    width:100%;
    height:1px;
    background-color:#fff;
}
.close span:before {
    transform:translateX(-50%) translateY(-50%) rotate(45deg);
}
.close span:after {
    transform:translateX(-50%) translateY(-50%) rotate(135deg);
}

/* Animation */
@keyframes name {
    0% {opacity:0;}
    50% {opacity:0.5;}
    100% {opacity:0.8;}
}